<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blank Page - SB Admin</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <!-- Add custom CSS here -->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home-admin"> Admin</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="/home-admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a data-toggle="modal" href='/home-admin/user_list'>Members List</a></li>
                    <li><a data-toggle="modal" href='/home-admin/add_users'>Add a new user</a></li>
                    <li> <a href='/home-admin/admin-edit_account'>Edit Account</a></li>
                    <li><a href='/home-admin/add_restaurants'>Add Restaurant</a></li>
                    <li> <a href='/home-admin/restaurants_list'>Restaurants Lists</a></li>
                    <li><a href='/home-admin/view-restaurant'>View Restaurants</a></li>
                    <li><a href='/food-experience'>Food Experience</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                            <%= username %>
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><a href='/logout'><span class="glyphicon glyphicon-log-out"></span>
                                        Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="col-sm-12">
                            <%if(errors != null){ for(var i=0; i< errors.length; i++){%>
                            <p>
                                <%=errors[i].msg%>
                            </p>
                            <%}}%>
                        </div>
                        <h2 class="text-center"><strong>Edit Menus</strong></h2>
                        <form >
                            <div class="form-group">
                                <%for(var i=0;i < i_info.length;i++){%>
                                <textarea class="form-control" type="text" id="detail1" name="about<%=i+1%>" rows="2"
                                    placeholder="About item" readonly required
                                    style="margin-bottom:10px;margin-top: 10px;"><%= i_info[i].i_detail%></textarea>

                                <input autocomplete="off" class="input form-control" id="field1" name="item<%=i+1%>"
                                    type="text" required readonly placeholder="Item name" value="<%= i_info[i].i_name%>"
                                    style="margin-bottom:10px;">
                                <a class="btn btn-primary btn-sm" data-toggle="modal"
                                    href="#modal-edit-<%=i_info[i].i_id%>">Edit </a> <a data-toggle="modal"
                                    href="#modal-delete-<%=i_info[i].i_id%>" class="btn btn-danger btn-sm">Delete</a>
                                <br>


                                <!-- Modal For edit. -->
                                <div class="modal fade" id="modal-edit-<%=i_info[i].i_id%>">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>

                                                <h4 class="modal-title">Edit Item</h4>

                                            </div>
                                            <div class="modal-body">
                                                <div class="col-2"></div>
                                                <form action="/home-admin/edit-item/<%= i_info[i].i_id%>" method="POST"
                                                    class="form-horizontal" role="form">

                                                    <div class="form-group">
                                                        <label class="sr-only" for="">Item name</label>
                                                        <input type="text" class="form-control" name="i_n"
                                                            placeholder="Item name" required
                                                            value="<%= i_info[i].i_name%>">
                                                    </div>

                                                    <div class="form-group">
                                                        <textarea name="i_d" class="form-control" rows="3"
                                                            placeholder="Enter item detail."
                                                            required="required"><%=i_info[i].i_detail%></textarea>

                                                    </div>

                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal For alert while deleting. -->
                                <div class="modal fade" id="modal-delete-<%=i_info[i].i_id%>">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>

                                                <h4 class="modal-title">Warning</h4>

                                            </div>
                                            <div class="modal-body">
                                                <span class="h3" style="color:darkred">Do you want to delete?</span><br>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-danger" style="width:20%"
                                                    href="/home-admin/delete-item/<%=i_info[i].i_id%>">Delete</a>
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




     <!-- JavaScript -->
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>