<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blank Page - SB Admin</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <!-- Add custom CSS here -->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home-admin"> Admin</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li><a href="/home-admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a data-toggle="modal" href='/home-admin/user_list'>Members List</a></li>
          <li><a data-toggle="modal" href='/home-admin/add_users'>Add a new user</a></li>
          <li> <a href='/home-admin/admin-edit_account'>Edit Account</a></li>
          <li><a href='/home-admin/add_restaurants'>Add Restaurant</a></li>
          <li> <a href='/home-admin/restaurants_list'>Restaurants Lists</a></li>
          <li><a href='/home-admin/view-restaurant'>View Restaurants</a></li>
          <li><a href='/food-experience'>Food Experience</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right navbar-user">
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= username %>
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#"><a href='/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center"><strong>All restaurant list</strong></h2>
            <table class="table table-bordered table-striped table-hovered">
              <tr>
                <th>ID</th>
                <th>Restaurant Name</th>
                <th>Restaurant Location</th>
                <th>Restaurant Details</th>
                <th>Actoions</th>
              </tr>
              <% if(r_list.length !=null) { %>
              <%  r_list.forEach((list) => { %>
              <tr>
                <td><%= list.r_id %></td>
                <td><%= list.r_name %></td>
                <td><%= list.r_location %></td>
                <td><%= list.r_details %></td>
                <td>
                  <a class="btn btn-success btn-sm" data-toggle="modal" href="#modal-add_item-<%=list.r_id%>">Add
                    Menus</a>
                  <a class="btn btn-primary btn-sm" href="/home-admin/edit/<%=list.r_id%>">Edit Menus</a>
                  <a class="btn btn-warning btn-sm" data-toggle="modal" href="#modal-edit_retaurant-<%=list.r_id%>">Edit
                    Restaurant</a>
                  <a class="btn btn-danger btn-sm" data-toggle="modal" href="#modal-delete-<%=list.r_id%>">Delete
                    Restaurant</a>
                </td>
              </tr>
              <!-- Modal For add item. -->
              <div class="modal fade" id="modal-add_item-<%= list.r_id %>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                      <h4 class="modal-title">Add Item</h4>

                    </div>
                    <div class="modal-body">
                      <div class="col-2"></div>
                      <form action="/home-admin/add-item/<%=list.r_id%>" method="POST" class="form-horizontal"
                        role="form">

                        <div class="form-group">
                          <label class="sr-only" for="">Item name</label>
                          <input type="text" class="form-control" name="i_n" placeholder="Item name" required>
                        </div>

                        <div class="form-group">
                          <textarea name="i_d" class="form-control" rows="3" placeholder="Enter item detail."
                            required="required"></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary">Add Item</button>
                      </form>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Modal For edit restaurant. -->
              <div class="modal fade" id="modal-edit_retaurant-<%=list.r_id%>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                      <h4 class="modal-title">Edit Restaurant</h4>

                    </div>
                    <div class="modal-body">
                      <div class="col-2"></div>
                      <form action="/home-admin/edit-restaurant/<%= list.r_id%>" method="POST" class="form-horizontal"
                        role="form">

                        <div class="form-group">
                          <label class="sr-only" for="">Restaurant name</label>
                          <input type="text" class="form-control" name="r_n" placeholder="Restaurant name" required
                            value="<%= list.r_name%>">
                        </div>

                        <div class="form-group">
                          <label class="sr-only" for="">Restaurant Location</label>
                          <input type="text" class="form-control" name="r_loc" placeholder="Restaurant name" required
                            value="<%= list.r_location%>">
                        </div>

                        <div class="form-group">
                          <textarea name="r_d" class="form-control" rows="3" placeholder="Enter Restaurant detail."
                            required="required"><%=list.r_details%></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal For alert while deleting. -->
              <div class="modal fade" id="modal-delete-<%=list.r_id%>">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            
                                <h4 class="modal-title">Alert!</h4>
                            
                        </div>
                        <div class="modal-body">

                            
                                

                                <span class="h3" style="color:darkred">Are you sure you want to delete?</span><br>
                                
                            
                        </div>
                        <div class="modal-footer">
                          <a class="btn btn-danger" style="width:20%" href="/home-admin/delete-restaurant/<%=list.r_id%>">Delete</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
              <% })
              } else { %>
              <h2>No data found!</h2>
              <%  } %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- JavaScript -->
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>